<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- LOG everything at INFO level -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.example" level="trace" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

</configuration>